/* main styles */

body {
  background-color: #fff;
  font-family: "Public Sans", sans-serif;
}

a {
  color: #f9a620;
}

.container {
  width: 90%;
}

.center {
  margin: 0 auto;
}

.flex {
  display: flex;
  flex-flow: wrap;
  justify-content: center;
}

h2 {
  text-align: center;
  font-size: 2rem;
}

article {
  width: 500px;
  padding: 1rem;
  margin: 1rem;
  border-radius: 10px;
}

article img {
  width: 100%;
  box-shadow: 5px 5px 5px black;
}

/* nav section */

nav ul {
  margin-top: 0;
  list-style: none;
  padding: 0;
}

nav li {
  display: flex;
  background-color: #00a8e8;
  margin-bottom: 1rem;
  height: 6.3rem;
  border-radius: 15px;
}

nav a {
  display: flex;
  color: black;
  font-size: 2rem;
  font-weight: bold;
  text-decoration: none;
  align-items: center;
  justify-content: center;
  height: 100%;
  width: 100%;
}

.desktop {
  display: none;
}

/* header section */

h1 {
  color: #fff;
  font-size: 3rem;
  padding-top: 1rem;
  padding-bottom: 1rem;
  text-align: center;
  text-shadow: 5px 5px 8px #000;
}

.banner {
  background-image: url(img/banner-img.jpg);
  background-size: stretch;
  background-repeat: no-repeat;
  background-position: center;
  height: 600px;
}

/* activities section */

#activities article {
  color: #fff;
  font-size: 1.2rem;
  background-color: #003459;
}

/* instructors section */

#instructors article {
  background-color: #007ea7;
}

/* schedule section */

#schedule {
  text-align: center;
}

#schedule p {
  background-color: #a690a4;
  border-radius: 10px;
  width: 100%;
  padding: 250px 2rem;
  font-size: 2rem;
  box-sizing: border-box;
}

/* media queries */

@media only screen and (min-width: 700px) {
  article {
    width: 90%;
    max-width: 600px;
  }

  .main-instructor {
    max-width: 750px;
    margin-left: 20%;
    margin-right: 20%;
  }
}

@media only screen and (min-width: 992px) {
  p {
    font-size: 1.5rem;
  }

  a {
    text-decoration: none;
  }

  a:hover {
    text-decoration: underline;
  }
  /* nav section */

  nav ul {
    display: flex;
    margin: 1rem;
    justify-content: space-around;
    list-style: none;
    padding: 0;
  }

  nav li {
    background-color: transparent;
    margin-bottom: 0;
    height: auto;
    border-radius: 0;
  }

  nav a {
    color: #f9a620;
    font-size: 2rem;
    font-weight: bold;
    text-decoration: none;
    align-items: center;
    justify-content: center;
    height: auto;
  }

  footer {
    border-top: 5px solid #99d17b;
  }

  #contact {
    margin-bottom: 3rem;
    text-align: center;
  }

  .mobile {
    display: none;
  }

  .desktop {
    display: block;
  }
}

@media only screen and (min-width: 1879px) {
  /* header section */
  .banner {
    background-size: 100%;
    height: 900px;
  }

  h1 {
    font-size: 5rem;
  }
}
